<button mat-icon-button class="pacakge-search-back" (click)="onBack()">
  <mat-icon>arrow_back</mat-icon>
</button>
<form class="pacakge-search-form" #packageSearchForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="pacakge-search-field">
    <input class="search-input" type="text" matInput placeholder="Enter Package Tracking Number" [(ngModel)]="value"
      name="value" (input)="onInputChange($event)">
    <button mat-button matSuffix mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</form>
<div class="package-search-keyboard"></div>
