.code-check-back {
  position: relative;
  left: -40px;

  mat-icon {
    color: white !important;
  }
}

.code-check-form,
.code-check-field {
  min-width: 200px;
  width: 80vw;
  font-size: 3rem;

  mat-icon {
    color: white !important;
  }
}

.keyboard-container {
  display: flex;
  justify-content: center;

  .code-check-keyboard {
    max-width: 50vmin;
    
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  
    .hg-button {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.3);
      color: white;
    }
  
    .hg-button:active {
      background: #1c4995;
      color: white;
    }
  }
  
  #root .code-check-keyboard+.code-check-keyboard-preview {
    background: #1c4995;
  }
}
